{% extends "layout.html" %}

    {% block content %}
    <main class="page lanidng-page">
        <section data-aos="fade-up" class="portfolio-block block-intro">
            <div class="container">
                <div class="bounce animated avatar" style="background-image: url(&quot;../static/img/me.jpg&quot;);"></div>
                <div class="about-me">
                    <p data-aos="fade">Hi, I'm Logan Stone. I am a computer science student at Memorial University.<br></p><a class="btn btn-outline-primary" role="button" href="mailto:logan.stone20@gmail.com">Contact me</a></div>
            </div>
        </section>
        <section class="portfolio-block photography">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"></a></div>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container" data-aos="zoom-out">
                <div class="heading">
                    <h2>Special Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-laptop"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Web Design</h3>
                                <p class="card-text">I have created websites using HTML, CSS and JavaScript. I have also used Flask, jQuery, and Bootstrap. &nbsp;My current goal is to learn React.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-list-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Interface Design</h3>
                                <p class="card-text">I have experience developing Graphical User Interfaces through projects like <a href="/projects">Activity Tracker</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-plus"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Quick Learner</h3>
                                <p class="card-text">I thoroughly enjoy learning about new technologies and can do so quickly.&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}