{% extends "layout.html" %}

    {% block content %}
    <main class="page">
        <section data-aos="fade-up" class="portfolio-block block-intro">
            <div class="container">
                <div class="bounce animated avatar" style="background-image: url(../static/img/me.jpg);"></div>
                <div class="about-me">
                    <p data-aos="fade">Hi, I'm Logan Stone. I am a computer science student at Memorial University.<br></p>
                    <a class="btn btn-outline-dark" href="mailto:ljs421@mun.ca">Contact me</a>
                </div>
            </div>
        </section>
        <section class="portfolio-block">
            <div class="container" data-aos="zoom-out">
                <div class="heading">
                    <h2>Special Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-laptop"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Web Design</h3>
                                <p class="card-text">I have created websites using HTML, CSS and JavaScript. I have also used Flask, jQuery, and Bootstrap.My current goal is to learn React.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-body"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Team Player</h3>
                                <p class="card-text">I thrive when I'm a part of a team. I have worked on various group projects such as <a href="/projects">Activity Tracker</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-university"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Quick Learner</h3>
                                <p class="card-text">I thoroughly enjoy learning about new technologies and can do so quickly.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}