{% extends 'layout.html' %}

    {% block content %}
    <main class="page projects-page"></main>
    <div data-aos="fade-right" class="projects-horizontal">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Projects </h2>
                <p class="text-center">Take a look at some of the projects I've been working on. Click their pictures to go to their GitHub repositories.</p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row text-center">
                        <div class="col-md-12 col-lg-5" data-bs-hover-animate="pulse"><a href="https://github.com/logan-stone20/OverBot" target="_blank"><img class="img-fluid" src="../static/img/bot.gif" width="75%"></a></div>
                        <div class="col">
                            <h3 class="name">OverBot</h3>
                            <p class="description">A Discord bot written in Python. It scrapes statistics for Overwatch accounts and stores the data in a PostgreSQL database.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5 text-center" data-bs-hover-animate="pulse"><a href="https://github.com/logan-stone20/rotmg-bot" target="_blank"><img class="img-fluid" src="../static/img/DfhWagx.png" width="75%"></a></div>
                        <div class="col text-center">
                            <h3 class="name">Avalon the Archivist</h3>
                            <p class="description">A Discord bot written in Python. Performs queries on the wiki for Realm of the Mad God and sends the results as a chat message.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-center justify-content-center item">
                    <div class="row align-content-center">
                        <div class="col-md-12 col-lg-5" data-bs-hover-animate="pulse"><a href="https://github.com/logan-stone20/Group-Assigment" target="_blank"><img class="img-fluid" src="../static/img/tracker.png" style="margin: 0px;height: 107px;padding: 0px;margin-top: 20px;"></a></div>
                        <div class="col">
                            <h3 class="name">Activity Tracker</h3>
                            <p class="description">A graphical user interface created for a group project. The GUI was for software that pooled data from FitBits and mobile phones and gave overall representation of the data.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}